@charset "utf-8";

/*-------------------------------------------------------------------
    @@ Layout
-------------------------------------------------------------------*/
/* Wrapper */
#g-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 103;
  border-bottom: 1px solid #eee;
}

#g-header .g-header-inner {
  height: 100%;
}
.g-btn-aside {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 150px;
  width: 50px;
  height: 50px;
  color: transparent;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}

.g-btn-aside:before,
.g-btn-aside:after {
  content: '';
}

.g-btn-aside:before,
.g-btn-aside:after,
.g-btn-aside span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 2px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.g-btn-aside:before {
  margin-top: -6px;
}

.g-btn-aside:after {
  margin-top: 6px;
}
.g-btn-aside {
  left: 200px;
}

#g-aside,
#g-content {
  min-height: 100vh;
}

#g-aside {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 102;
  width: 200px;
  overflow: hidden;
  background: #fff;
  border-right: 1px solid #eee;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
}

#g-aside .g-aside-scroll {
  height: calc(100% - 50px);
  overflow: auto;
}

#g-content {
  padding-left: 200px;
  padding-top: 50px;
  transition: all 0.3s;
}

.g-content-header,
.g-content-body {
  padding: 30px;
}

.g-content-header {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.g-content-header .g-guideLink {
  display: none;
}

.g-content-body {
  padding-bottom: 80px;
}

/* Header */
.g-logo {
  position: absolute;
  left: 0px;
  top: 0;
}

.g-logo a {
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 0px;
  font-weight: normal;
}

.g-breadcrumb {
  display: inline-block;
  /* float:left; */
}

.g-breadcrumb p {
  padding: 0 20px;
  font-size: 18px;
  line-height: 40px;
  color: transparent;
}

/* Aside */
.g-aside-scroll .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.g-aside-scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.g-aside-scroll .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #666;
}

/* LNB */
.g-lnb {
  padding-right: 0;
  text-align: right;
}

.g-lnb > .g-node-title {
  display: none;
}

.g-lnb > ul {
  display: inline-block;
}

.g-lnb > ul > li {
  position: relative;
  display: inline-block;
}

.g-lnb > ul > li > a {
  display: block;
  padding: 0 20px;
  border-radius: 0;
  font-size: 16px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/* SNB */
.g-snb {
  padding-top: 0px;
}

.g-snb .g-depth1 {
  display: none;
}

.g-snb .g-depth1 .g-node1 {
  padding: 50px 0;
}

.g-snb .g-depth1 .g-node1 > a {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  font-size: 18px;
  color: #222;
}

.g-snb .g-depth2 {
  margin-top: 20px;
}

.g-snb .g-depth2 .g-node2 > a {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 6px 40px;
  font-size: 14px;
  color: #777;
  line-height: 1.8;
  transition: all 0.3s;
}

.g-snb .g-depth2 .g-node2.is-current > a,
.g-snb .g-depth2 .g-node2 > a:focus,
.g-snb .g-depth2 .g-node2 > a:hover {
  color: #222;
}

.g-snb .g-depth2 .g-node2 > a:after {
  position: absolute;
  top: 50%;
  right: 45px;
  margin-top: -1px;
  width: 6px;
  height: 6px;
  border: 1px solid #777;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg) translate(0, -50%);
}

.g-snb .g-depth2 .g-node2.is-current > a:after {
  content: '';
  border-color: #222;
}

/*-------------------------------------------------------------------
    @@ Theme
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @@ Basic
-------------------------------------------------------------------*/
/* Basic */
#g-content {
  background-color: transparent;
}

/*-------------------------------------------------------------------
    @@ Primary
-------------------------------------------------------------------*/
/* Default */
#g-header {
  background-color: #fff;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.g-lnb {
  padding: 15px 20px;
}

.g-lnb > ul > li.is-current > a {
  color: #353535;
}
.dark-mode .g-lnb > ul > li.is-current > a {
  color: var(--white-color);
}
.dark-mode .g-snb .g-depth1 .g-node1 > a {
  color: white;
}
.g-snb .g-depth1 .g-node1 > a {
  color: #004C9D;
  font-weight: 700;
}
.dark-mode .g-snb .g-depth2 .g-node2.is-current > a,
.dark-mode .g-snb .g-depth2 .g-node2 > a:focus,
.dark-mode .g-snb .g-depth2 .g-node2 > a:hover{
  color: white;
}
.g-snb .g-depth2 .g-node2.is-current > a,
.g-snb .g-depth2 .g-node2 > a:focus,
.g-snb .g-depth2 .g-node2 > a:hover {
  border-left-color: #ff5400;
  color: #666;
  font-weight: 700;
}

.g-h4 {
  color: #666;
}

.g-h4:before {
  background-color: #666;
}

.g-txt-primary {
  color: #666;
}

.g-example-wrap .g-example-header .g-example-btn.is-active,
.g-example-wrap .g-example-header .g-example-btn.is-active + .g-example-copy {
  background-color: #666;
}

/* a.g-top {background-color:#ff5400;} */

/* Active */
/* .g-lnb > ul > li.is-current > a,
.g-example-wrap .g-example-header .g-example-btn.is-active:hover,
.g-example-wrap .g-example-header .g-example-btn.is-active + .g-example-copy:hover {background-color:#cb4300;} */

/* Invert */
.g-logo a {
  color: #000;
}

.g-lnb > ul > li > a {
  color: #445b78;
}

.g-lnb > ul > li.is-current > a {
  background-color: transparent;
}

.g-example-wrap .g-example-header .g-example-btn,
.g-example-wrap .g-example-header .g-example-copy {
  color: #fff;
}

.dark-mode .g-btn-aside:before,
.dark-mode .g-btn-aside:after,
.dark-mode .g-btn-aside span {
  background-color: var(--white-color);
}

.g-btn-aside:before,
.g-btn-aside:after,
.g-btn-aside span {
  background-color: #222;
}

/*-------------------------------------------------------------------
    @@ Responsive
-------------------------------------------------------------------*/
@media only screen and (max-width: 720px) {
  .g-lnb {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .g-lnb > .g-node-title {
    color: #353535;
    /* background-color: #fff; */
  }

  .g-lnb > ul {
    background-color: #353535;
  }

  .g-lnb > ul > li.is-current > a {
    background-color: transparent;
    color: #fff;
  }

  /* .g-lnb {height: 100%;} */
  .dark-mode  .g-lnb > .g-node-title {
    color: var(--white-color);
  }
  .g-lnb > .g-node-title {
    display: inline-block;
    height: 100%;
    margin-right: 0;
    font-size: 16px;
    padding: 0 30px;
    line-height: 30px;
    border-radius: 20px;
  }

  .g-lnb > ul {
    display: none;
    padding: 5px 0;
  }

  .g-lnb > ul > li > a {
    padding: 0 30px;
  }

  .g-lnb.is-visible > ul,
  .g-lnb.is-visible > ul > li {
    display: block;
  }

  .g-lnb.is-visible > ul > li > a {
    border-radius: 0;
    color: #fff;
  }

  /* .g-lnb.is-visible > ul > li.is-current > a {font-weight: 700;} */
  .is-aside-opened #g-aside {
    z-index: 1001;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    /* width: 100%; */
  }

  .is-aside-opened #g-content {
    padding-left: 0;
  }

  .is-aside-opened .g-mask {
    width: 100%;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1023px) {
  .g-logo {
    left: -250px;
  }

  .g-btn-aside {
    left: 20px;
  }
}

@media only screen and (max-width: 420px) {
  #g-aside {
    width: 100%;
  }

  .g-btn-aside {
    left: 0;
  }

  .g-lnb > .g-node-title {
    padding: 0 15px;
  }

  .g-lnb.is-visible > ul > li > a {
    padding: 0 15px;
  }
}

.is-aside-closed #g-aside {
  transform: translateX(-102%);
  -webkit-transform: translateX(-102%);
  -moz-transform: translateX(-102%);
  -ms-transform: translateX(-102%);
  -o-transform: translateX(-102%);
}

.is-aside-closed #g-content {
  padding-left: 0;
}



/*-------------------------------------------------------------------
    @@ Gutter & Size
-------------------------------------------------------------------*/

/* Header Height */
#g-header {
  height: 60px;
}

/* #g-aside {
  top: 60px;
} */

#g-aside .g-aside-scroll {
  height: calc(100% - 60px);
}

#g-content {
  padding-top: 60px;
}

/* .g-mask {top:60px;} */
.g-logo {
  padding-left: 40px;
}

.g-logo a {
  line-height: 60px;
}

.g-lnb > ul > li > a {
  line-height: 30px;
  border-radius: 20px;
  font-size: 16px;
  padding: 0 15px;
}

.g-snb .g-depth1,
.g-snb .g-depth1 .g-node1 {
  padding: 25px 0;
}

/* Aside Width */
#g-aside {
  width: 250px;
}

#g-content {
  padding-left: 250px;
}



/* Content Area */
.g-content-header,
.g-content-body {
  padding: 30px 60px;
}

.g-content-header {
  padding-top: 50px;
  border-bottom: 0;
}

.g-content-body {
  padding-bottom: 80px;
}

.g-section + .g-section {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}

.g-section[hidden]:first-child + .g-section {
  margin-top: 0px;
}

.g-section-header {
  padding-bottom: 0;
  border-bottom: 0;
}

@media only screen and (max-width: 959px) {

  .g-content-header,
  .g-content-body {
    padding: 30px 30px;
  }

  .g-content-header {
    padding-top: 30px;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .g-content-body {
    padding-bottom: 40px;
  }

  .g-section + .g-section {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 480px) {

  .g-content-header,
  .g-content-body {
    padding: 20px 15px;
  }
}

.g-snb .g-depth2 {
  margin-bottom: 20px;
}

/* UI */
.g-h1 {
  font-weight: 700;
}

.g-example-nav {
  margin: -2px 0;
}

/* .g-example-wrap .g-example-header {margin-top:0;} */
.g-example-wrap .g-example-header .g-example-btn,
.g-example-wrap .g-example-header .g-example-copy {
  margin: 2px 0;
}

.g-example-wrap .g-example-guide {
  border-top: 0;
}

.dark-mode .__basic th {
  color: var(--bg-color);
}