// Color
$main-blue: #004C9D;
$main-skyblue: #0092D7;
$sub-red: #EA5705;

$color-default:#27282C;
$color-white: #fff;
$color-black: #000;

// 텍스트 정렬
$text-align : center, left, right;

// h1, h2, h3
$font-sizes: ('h1':2.4rem, 'h2':1.8rem, "h3":1.6rem, "h4":1.5rem, "h5":1.4rem, "h6":1.3rem, "h7":1.2rem);

$font-weight : 100, 200, 300, 500, bold, 600, 800, 900