<div class="navbar">
  <ul>
    <li class="on">
      <a href="#this">뱅킹</a>
    </li>
    <li>
      <a href="#this">상품</a>
    </li>
    <li>
      <a href="#this">BOX</a>
    </li>
    <li>
      <a href="#this">일정</a>
    </li>
    <!-- <li>
      <a href="#this">상품</a>
    </li>
    <li>
      <a href="#this">BOX</a>
    </li>
    <li>
      <a href="#this">일정</a>
    </li>
    <li>
      <a href="#this">상품</a>
    </li>
    <li>
      <a href="#this">BOX</a>
    </li>
    <li>
      <a href="#this">일정</a>
    </li>
    <li>
      <a href="#this">상품</a>
    </li>
    <li>
      <a href="#this">BOX</a>
    </li>
    <li>
      <a href="#this">일정</a>
    </li> -->
  </ul>
</div>