<aside class="sidebar">
  <div class="__inner">
    <dl class="user-info">
      <dt>
        <span>(주)디앤디모바일</span>
        <span>관리자(05344712)</span>
      </dt>
      <dd>
        <span>마지막 접속 2024-02-20 12:33:24</span>
        <a href="#this">내정보 보기</a>
      </dd>
    </dl>
    <div class="sch-wrap">
      <div class="form-controls flexible">
        <span class="form-input-group type-search">
          <input type="text" name="sSearchA" id="sSearchA" value="" placeholder="검색할 메뉴를 입력해주세요." class="form-input">
          <button type="button" class="button"><i class="icon icon-search"></i></button>
        </span>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li>
          <a href="#this">마이페이지</a>
        </li>
        <li>
          <a href="#this">안심센터</a>
        </li>
        <li>
          <a href="#this">결재함</a>
        </li>
        <li>
          <a href="#this">알림함</a>
        </li>
        <li>
          <a href="#this">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menus">
    <div class="__inner">
      <!-- 2줄 초과시 세로 스크롤 적용 -->
      <a href="#this" class="star">전체계좌조회</a><a href="#this" class="star">이체결과조회</a><a href="#this" class="star">알파세무신고서비스조회</a><a href="#this" class="setup">메뉴관리</a>
      
    </div>
    <div class="wrap-depth">
      <div class="depth1">
        <div class="tab-nav">
          <ul role="tablist" class="">
            <li role="none" class="is-selected"><a href="#tabContent31" id="tabNav3-1" role="tab" aria-controls="tabContent31" aria-selected="true">최근이용메뉴</a></li>
            <li role="none" class=""><a href="#tabContent32" id="tabNav3-2" role="tab" aria-controls="tabContent32" aria-selected="false">조회</a></li>
            <li role="none" class=""><a href="#tabContent33" id="tabNav3-3" role="tab" aria-controls="tabContent33" aria-selected="false">이체</a></li>
            <li role="none" class=""><a href="#tabContent34" id="tabNav3-4" role="tab" aria-controls="tabContent34" aria-selected="false">뱅킹업무</a></li>
            <li role="none" class=""><a href="#tabContent35" id="tabNav3-5" role="tab" aria-controls="tabContent35" aria-selected="false">금융상품</a></li>
            <li role="none" class=""><a href="#tabContent36" id="tabNav3-6" role="tab" aria-controls="tabContent36" aria-selected="false">B2B</a></li>
            <li role="none" class=""><a href="#tabContent37" id="tabNav3-7" role="tab" aria-controls="tabContent37" aria-selected="false">경영지원</a></li>
            <li role="none" class=""><a href="#tabContent38" id="tabNav3-8" role="tab" aria-controls="tabContent38" aria-selected="false">뱅킹관리</a></li>
            <li role="none" class=""><a href="#tabContent39" id="tabNav3-9" role="tab" aria-controls="tabContent39" aria-selected="false">결재함</a></li>
            <li role="none" class=""><a href="#tabContent40" id="tabNav3-10" role="tab" aria-controls="tabContent40" aria-selected="false">인증센터</a></li>
            <li role="none" class=""><a href="#tabContent41" id="tabNav3-11" role="tab" aria-controls="tabContent41" aria-selected="false">고객센터</a></li>
          </ul>
        </div>
        <ul style="display: none;">
          <li>
            <a href="#this">최근이용메뉴</a>
          </li>
          <li>
            <a href="#this">조회</a>
          </li>
          <li>
            <a href="#this">이체</a>
          </li>
          <li>
            <a href="#this">뱅킹업무</a>
          </li>
          <li>
            <a href="#this">금융상품</a>
          </li>
          <li>
            <a href="#this">B2B</a>
          </li>
          <li>
            <a href="#this">경영지원</a>
          </li>
          <li>
            <a href="#this">뱅킹관리</a>
          </li>
          <li>
            <a href="#this">결재함</a>
          </li>
          <li>
            <a href="#this">인증센터</a>
          </li>
          <li>
            <a href="#this">고객센터</a>
          </li>
        </ul>
      </div>
      <div class="depth2">
        <div id="tabContent31" class="tab-content" role="tabpanel" aria-labelledby="tabNav31" aria-hidden="false">
          <ul>
            <li>
              <button type="button">
                전체계좌조회
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                이제결과조회
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                수수료조회
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                기업자산관리
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                알파세무신고서비스 조회
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                급여이체
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                회원정보조회조회
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                본인확인서조회
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                예금몰
                <i tabindex="0"></i>
              </button>
            </li>
            <li>
              <button type="button">
                OTP관리 전문
                <i tabindex="0"></i>
              </button>
            </li>
          </ul>
        </div>
        <div id="tabContent32" class="tab-content" role="tabpanel" aria-labelledby="tabNav32" aria-hidden="true" hidden="hidden">
          <ul>
            <li>
              <button type="button">
                전체계좌조회2
              </button>
            </li>
            <li>
              <button type="button">
                전체계좌조회2
              </button>
            </li>
            <li>
              <button type="button">
                전체계좌조회2
              </button>
            </li>
          </ul>
        </div>
        <div id="tabContent33" class="tab-content" role="tabpanel" aria-labelledby="tabNav33" aria-hidden="true" hidden="hidden">
          <ul>
            <li>
              <button type="button">
                전체계좌조회3
              </button>
            </li>
            <li>
              <button type="button">
                전체계좌조회3
              </button>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>