<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <script src="../_common/js/cp_include.js"></script>
  <script>include.meta()</script>
  <script>include.head()</script>
</head>

<body>
  <div id="g-wrapper">
    <script>include.header()</script>
    <div id="g-container">
      <script>include.aside.init()</script>

      <!-- Content -->
      <article id="g-content">
        <div class="g-content-header">
          <h1 class="g-h1">Drop</h1>
          <p class="g-explain-h1">Library Modules</p>
        </div>
        <div class="g-content-body">

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Basic</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
               
                <div class="g-example-body">
                  <div class="g-example-preview">
                    <div class="drop-wrap">
                      <div class="drop drop-down drop-basic">
                        <button type="button" class="button drop-toggle" aria-controls="drop1"
                          aria-haspopup="listbox" aria-expanded="false">drop <i
                            class="arw arw-toggle"></i></button>
                        <div id="drop1" class="drop-menu" hidden>
                          <ul class="drop-list" role="listbox">
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Direction</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
               
                <div class="g-example-body">
                  <div class="g-example-preview">
                    <div class="drop-wrap">
                      <div class="drop drop-down drop-basic">
                        <button type="button" class="button drop-toggle" aria-controls="drop21"
                          aria-haspopup="listbox" aria-expanded="false">drop <i
                            class="arw arw-toggle"></i></button>
                        <div id="drop21" class="drop-menu" hidden>
                          <ul class="drop-list" role="listbox">
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="drop drop-top drop-basic">
                        <button type="button" class="button drop-toggle" aria-controls="drop22"
                          aria-haspopup="listbox" aria-expanded="false">drop <i
                            class="arw arw-toggle"></i></button>
                        <div id="drop22" class="drop-menu" hidden>
                          <ul class="drop-list" role="listbox">
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                            <li class="drop-item" role="option"><a href="#">drop Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Selection</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
                
                <div class="g-example-body">
                  <div class="g-example-preview">
                    <div class="drop drop-down drop-select drop-basic">
                      <button type="button" class="button drop-toggle" aria-controls="drop31"
                        aria-haspopup="listbox" aria-expanded="false"><span class="drop-label">drop</span> <i
                          class="arw arw-toggle"></i></button>
                      <div id="drop31" class="drop-menu" hidden>
                        <ul class="drop-list" role="listbox">
                          <li class="drop-item" role="option"><a href="#">drop Link1</a></li>
                          <li class="drop-item" role="option"><a href="#">drop Link2</a></li>
                          <li class="drop-item" role="option"><a href="#">drop Link3</a></li>
                          <li class="drop-item" role="option"><a href="#">drop Link4</a></li>
                          <li class="drop-item" role="option"><a href="#">drop Link5</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->
          <br /><br /><br />
        </div>
      </article>
      <!-- //Content -->

      <script>include.quick.init()</script>
    </div>
    <script>include.footer()</script>
  </div>
</body>

</html>