<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
  <script>include.meta()</script>
  <script>include.head()</script>
</head>

<body>
  <div id="g-wrapper">
    <script>include.header()</script>
    <div id="g-container">
      <script>include.aside.init()</script>

      <!-- Content -->
      <article id="g-content">
        <div class="g-content-header">
          <h1 class="g-h1">Coupon</h1>
          <p class="g-explain-h1">Library Elements</p>
        </div>
        <div class="g-content-body">

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Styles</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
                <div class="g-example-header">
                  <strong class="g-example-tit is-before"></strong>
                </div>
                <div class="g-example-body">
                  <!-- 마크업뷰영역 -->
                  <h3 class="g-h3">Blue</h3>
                  <div class="coupon-color __blue">
                    <div class="coupon-wrap">
                      <div class="coupon__title">
                        <div class="couple__category">Home Eletric</div>
                        <div class="coupon__max">Maximum 5,000won</div>
                      </div>
                      <div class="coupon__detail">
                        <div class="coupon__price">10% Discount</div>
                        <div class="coupon__info">
                          <span>Orders from 160,000 WON</span>
                          <span>October 25 - 26, 2024</span>
                        </div>
                        <div class="coupon__footer">
                          <div class="coupon__condition">
                            <a href="javascript:void(0);">Condition</a>
                          </div>
                          <div class="coupon__btn">
                            <a href="javascript:void(0);">Collect</a>
                          </div>
                        </div>
                        <div class="coupon__border"></div>
                      </div>
                    </div>
                  </div>
                  <h3 class="g-h3">Red</h3>
                  <div class="coupon-color __red">
                    <div class="coupon-wrap">
                      <div class="coupon__title">
                        <div class="couple__category">Fashion</div>
                        <div class="coupon__max">Maximum 5,000won</div>
                      </div>
                      <div class="coupon__detail">
                        <div class="coupon__price">10% 할인</div>
                        <div class="coupon__info">
                          <span>Orders from 160,000 WON</span>
                          <span>October 25 - 26, 2024</span>
                        </div>
                        <div class="coupon__footer">
                          <div class="coupon__condition">
                            <a href="javascript:void(0);">Condition</a>
                          </div>
                          <div class="coupon__btn">
                            <a href="javascript:void(0);">Collect</a>
                          </div>
                        </div>
                        <div class="coupon__border"></div>
                      </div>
                    </div>
                  </div>
                  <!-- //마크업뷰영역 -->
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->
        </div>
      </article>
      <!-- //Content -->

      <script>include.quick.init()</script>
    </div>
    <script>include.footer()</script>
  </div>
</body>

</html>