<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
	<script type="text/javascript">

	</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>

			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Datepicker</h1>
					<p class="g-explain-h1">Library Elements</p>
				</div>
				<div class="g-content-body">
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Default</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<h3 class="g-h3"></h3>
									<div class="g-example-preview">
										<div class="datepickerWrap">
											<div class="input__wrap">
												<input type="text" class="input__item" id="sel1" placeholder="">
											</div>
											<i>&nbsp; - &nbsp;</i>
											<div class="input__wrap">
												<input type="text" class="input__item" id="sel2" placeholder="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					
				</div>
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
</body>

</html>