<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>

			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Tooltip</h1>
					<p class="g-explain-h1">Library Modules</p>
				</div>
				<div class="g-content-body">

					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Basic</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">

								<div class="g-example-body">
									<div class="g-example-preview">
										무궁화 꽃이 피었습니다.
										<div class="tooltip-wrap">
											<button class="button tooltip-open" role="button" aria-controls="tooltip1" aria-label="자세히보기" aria-labelledby="" aria-expanded="false"><span>!</span></button>
											<!-- s: 툴팁영역 -->
											<div id="tooltip1" class="tooltip tooltip-basic tooltip-right" role="tooltip" aria-hidden="true" hidden>
												<div class="tooltip-inner">
													Tooltip
													<button type="button" class="btn tooltip-close" aria-controls="tooltip1"><span class="blind">닫기</span></button>
												</div>
												<i class="arw arw-tooltip" aria-hidden="true"></i>
											</div>
											<!-- e: 툴팁영역 -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
				</div>
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
</body>

</html>