<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
  <script>include.meta()</script>
  <script>include.head()</script>
</head>

<body>
  <div id="g-wrapper">
    <script>include.header()</script>
    <div id="g-container">
      <script>include.aside.init()</script>

      <!-- Content -->
      <article id="g-content">
        <div class="g-content-header">
          <h1 class="g-h1">Step</h1>
          <p class="g-explain-h1">Library Elements</p>
        </div>
        <div class="g-content-body">
          
          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Basic</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
                <div class="g-example-body">
                  <div class="g-example-preview">
                    <div class="step __basic">
                      <ol class="step-list">
                        <li class="step-item is-on"><span class="step-label">1단계</span></li>
                        <li class="step-item is-current" aria-current="step"><span class="step-label">2단계</span></li>
                        <li class="step-item"><span class="step-label">3단계</span></li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Flexible</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
                <div class="g-example-body">
                  <div class="g-example-preview">
                    <!-- 마크업뷰영역 -->
                    <div class="step __flexible step-flexible">
                      <ol class="step-list">
                        <li class="step-item is-on" title="채용 1단계 이력서등록">1단계</li>
                        <li class="step-item is-on" title="채용 2단계 서류심사">2단계</li>
                        <li class="step-item is-current" aria-current="step" title="채용 3단계 그룹면접">3단계</li>
                        <li class="step-item" title="채용 4단계 임원면접">4단계</li>
                        <li class="step-item" title="채용 3단계 심사결과">5단계</li>
                      </ol>
                    </div>
                    <!-- //마크업뷰영역 -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Flexible Side</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
                <div class="g-example-body">
                  <div class="g-example-preview">
                    <!-- 마크업뷰영역 -->
                    <div class="step __flexible-side">
                      <ol class="step-list" role="img" aria-label="채용 총 5단계 중 3단계">
                        <li class="step-item is-on" title="채용 1단계 이력서등록">
                          <span class="step-label">1단계</span>
                        </li>
                        <li class="step-item is-on" title="채용 2단계 서류심사">
                          <span class="step-label">2단계</span>
                        </li>
                        <li class="step-item is-current" aria-current="step" title="채용 3단계 그룹면접">
                          <span class="step-label">3단계</span>
                        </li>
                        <li class="step-item" title="채용 4단계 임원면접">
                          <span class="step-label">4단계</span>
                        </li>
                        <li class="step-item" title="채용 5단계 심사결과">
                          <span class="step-label">5단계</span>
                        </li>
                      </ol>
                    </div>
                    <!-- //마크업뷰영역 -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->
        </div>
      </article>
      <!-- //Content -->

      <script>include.quick.init()</script>
    </div>
    <script>include.footer()</script>
  </div>
</body>

</html>