<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>

			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Button</h1>
					<p class="g-explain-h1">Library Elements</p>
				</div>
				<div class="g-content-body">
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Styles</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">

										<h3 class="g-h3">Flat Contained</h3>
										<button type="button" class="btn __gray">default</button>
										<button type="button" class="btn __primary">Primary</button>
										<button type="button" class="btn __gray" disabled>Disabled</button>
										<button type="button" class="btn __primary" disabled>Primary</button>

										<h3 class="g-h3">Flat Outlined</h3>
										<button type="button" class="btn __white">default</button>
										<button type="button" class="btn __primary _line">Primary</button>
										<button type="button" class="btn __white" disabled>Disabled</button>
										<button type="button" class="btn __primary" disabled>Primary</button>

										<h3 class="g-h3">Round Contained</h3>
										<button type="button" class="btn __gray round-8">default</button>
										<button type="button" class="btn __primary round-8">Primary</button>
										<button type="button" class="btn __gray round-8" disabled>Disabled</button>
										<button type="button" class="btn __primary round-8 " disabled>Primary</button>

										<h3 class="g-h3">Round Outlined</h3>
										<button type="button" class="btn __white round-8">default</button>
										<button type="button" class="btn __primary _line round-8">Primary</button>
										<button type="button" class="btn __white round-8" disabled>Disabled</button>
										<button type="button" class="btn __white __primary round-8" disabled>Primary</button>

										<h3 class="g-h3">Pill Contained</h3>
										<button type="button" class="btn __gray _round-30">default</button>
										<button type="button" class="btn __primary _round-30">Primary</button>
										<button type="button" class="btn __gray _round-30" disabled>Disabled</button>
										<button type="button" class="btn __primary _round-30" disabled>Primary</button>

										<h3 class="g-h3">Pill Outlined</h3>
										<button type="button" class="btn __white _round-30">default</button>
										<button type="button" class="btn __primary _line _round-30">Primary</button>
										<button type="button" class="btn __white _round-30" disabled>Disabled</button>
										<button type="button" class="btn __primary _line _round-30" disabled>Primary</button>

										<h3 class="g-h3">Full_BTN</h3>
										<button type="button" class="btn __primary wide bold-5">확인</button>

										<h3 class="g-h3">sub_BTN</h3>
										<button type="button" class="btn __primary round-8 wide bold-5">확인</button>

										<h3 class="g-h3">sub_LineBTN</h3>
										<button type="button" class="btn __white round-8 wide bold-5">확인</button>

										<h3 class="g-h3">pick_btn</h3>
										<div class="btn-wrap flex-wrap btn-ov">
											<button type="button" class="btn __white _line round-8">예</button>
											<button type="button" class="btn __white _line round-8">아니오</button>
										</div>

										<h3 class="g-h3">Check_btn</h3>
										<div class="btn-wrap flex-wrap btn-chk">
											<button type="button" class="btn __white _line round-8">확인</button>
											<button type="button" class="btn __white _line round-8">확인</button>
										</div>
									
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
				</div>
				<!-- //g-content-body -->
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
</body>
</html>