<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>

			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Swiper</h1>
					<p class="g-explain-h1"></p>
				</div>
				<div class="g-content-body">
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Default</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap">
											<!-- Swiper -->
											<div class="swiper defaultSwiper">
												<div class="swiper-wrapper">
													<div class="swiper-slide">Slide 1</div>
													<div class="swiper-slide">Slide 2</div>
													<div class="swiper-slide">Slide 3</div>
													<div class="swiper-slide">Slide 4</div>
													<div class="swiper-slide">Slide 5</div>
													<div class="swiper-slide">Slide 6</div>
													<div class="swiper-slide">Slide 7</div>
													<div class="swiper-slide">Slide 8</div>
													<div class="swiper-slide">Slide 9</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Pagination</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap">
											<!-- Swiper -->
											<div class="swiper paginationSwiper">
												<div class="swiper-wrapper">
													<div class="swiper-slide">Slide 1</div>
													<div class="swiper-slide">Slide 2</div>
													<div class="swiper-slide">Slide 3</div>
													<div class="swiper-slide">Slide 4</div>
													<div class="swiper-slide">Slide 5</div>
													<div class="swiper-slide">Slide 6</div>
													<div class="swiper-slide">Slide 7</div>
													<div class="swiper-slide">Slide 8</div>
													<div class="swiper-slide">Slide 9</div>
												</div>
												<div class="swiper-pagination"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Custom progress bar</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap pageCounterWrap">
											<!-- Swiper -->
											<div class="swiper pageCounterSwiper">
												<div class="swiper-wrapper">
													<!-- Slides -->
													<div class="swiper-slide">Slide 1</div>
													<div class="swiper-slide">Slide 2</div>
													<div class="swiper-slide">Slide 3</div>
													<div class="swiper-slide">Slide 4</div>
												</div>
												<div class="swiper-pagination"></div>
												<!-- If we need navigation buttons -->
												<div class="swiper-button-prev"></div>
												<div class="swiper-button-next"></div>
											</div>
											<div class="pageCouterBot">
												<div class="swiper-counter"><span class="current">1</span> / <span class="total">0</span></div>
												<div class="swiper-progress-bar">
													<div class="progress"></div>
													<div class="progress-sections"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Tabs with Arrows Navigation</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap">
											<!-- Swiper -->
											<div class="slideTabWrap">
												<div class="swiper slideTabSwiper">
													<div class="swiper-wrapper">
														<div class="swiper-slide on">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 1</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 2</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 3</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 4</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 5</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 6</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 7</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 8</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 9</span>
															</a>
														</div>
														<div class="swiper-slide">
															<a href="javascript:void(0);">
																<span class="slide__nav">Tab 10</span>
															</a>
														</div>
													</div>
													<div class="sliderTab__next">
														<span>
															<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg" id="fi_2735071">
																<g id="Layer_20" data-name="Layer 20">
																	<path
																		d="m23.21 16.71-13 13a1 1 0 0 1 -1.42 0 1 1 0 0 1 0-1.42l12.3-12.29-12.3-12.29a1 1 0 0 1 1.42-1.42l13 13a1 1 0 0 1 0 1.42z">
																	</path>
																</g>
															</svg>
														</span>
													</div>
													<div class="sliderTab__prev">
														<span>
															<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg" id="fi_2735069">
																<g id="Layer_19" data-name="Layer 19">
																	<path
																		d="m23.21 28.29a1 1 0 0 1 0 1.42 1 1 0 0 1 -1.42 0l-13-13a1 1 0 0 1 0-1.42l13-13a1 1 0 1 1 1.42 1.42l-12.3 12.29z">
																	</path>
																</g>
															</svg>
														</span>
													</div>
												</div>
												<div class="swiper-container sliderContent">
													<div class="swiper-wrapper">
														<div class="swiper-slide">
															<div class="title">Tab 1</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 2</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 3</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 4</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 5</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 6</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 7</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 8</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 9</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
														<div class="swiper-slide">
															<div class="title">Tab 10</div>
															<div class="content">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
																pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
																laborum.
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Responsive Slider &amp; Carousel</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap">
											<!-- Swiper -->
											<section class="slider-section responsive-carousel">
												<div class="">
													<div class="swiper-slider">
														<div class="swiper-wrapper">
															<img class="swiper-slide" src="https://source.unsplash.com/1920x1280/?animal" alt="Swiper">
															<img class="swiper-slide" src="https://source.unsplash.com/1920x1280/?nature" alt="Swiper">
															<img class="swiper-slide" src="https://source.unsplash.com/1920x1280/?people" alt="Swiper">
															<img class="swiper-slide" src="https://source.unsplash.com/1920x1280/?flower" alt="Swiper">
															<img class="swiper-slide" src="https://source.unsplash.com/1920x1280/?travel" alt="Swiper">
															<img class="swiper-slide" src="https://source.unsplash.com/1920x1280/?fruits" alt="Swiper">
														</div>
														<span class="swiper-pagination"></span>
														<span class="swiper-button-prev"></span>
														<span class="swiper-button-next"></span>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Carousel Flex</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap">
											<!-- Swiper -->
											<div class="carouselFlexWrap">
												<div class="swiper-wrapper carouselFlex">
													<div class="swiper-slide swiper-slide--one">
														<span>domestic</span>
														<div>
															<h2>Enjoy the exotic of sunny Hawaii</h2>
															<p>
																<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
																	stroke="currentColor" class="w-6 h-6">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
																	<path stroke-linecap="round" stroke-linejoin="round"
																		d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
																</svg>
																Maui, Hawaii
															</p>
														</div>
													</div>
													<div class="swiper-slide swiper-slide--two">
														<span>subtropical</span>
														<div>
															<h2>The Island of Eternal Spring</h2>
															<p>
																<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
																	stroke="currentColor" class="w-6 h-6">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
																	<path stroke-linecap="round" stroke-linejoin="round"
																		d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
																</svg>
																Lanzarote, Spanien
															</p>
														</div>
													</div>
													<div class="swiper-slide swiper-slide--three">
														<span>history</span>
														<div>
															<h2>Awesome Eiffel Tower</h2>
															<p>
																<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
																	stroke="currentColor" class="w-6 h-6">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
																	<path stroke-linecap="round" stroke-linejoin="round"
																		d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
																</svg>
																Paris, France
															</p>
														</div>
													</div>
													<div class="swiper-slide swiper-slide--four">
														<span>Mayans</span>
														<div>
															<h2>One of the safest states in Mexico</h2>
															<p>
																<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
																	stroke="currentColor" class="w-6 h-6">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
																	<path stroke-linecap="round" stroke-linejoin="round"
																		d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
																</svg>
																The Yucatan, Mexico
															</p>
														</div>
													</div>
													<div class="swiper-slide swiper-slide--five">
														<span>native</span>
														<div>
															<h2>The most popular yachting destination</h2>
															<p>
																<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
																	stroke="currentColor" class="w-6 h-6">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
																	<path stroke-linecap="round" stroke-linejoin="round"
																		d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
																</svg>
																Whitsunday Islands, Australia
															</p>
														</div>
													</div>
												</div>
												<div class="swiper-pagination"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Vertical swiper</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="swiperWrap">
											<!-- Swiper -->
											<div class="vertical-slider-wrap">
												<div class="vertical-slider">
													<div class="swiper-container">
														<div class="swiper-wrapper">
															<div class="swiper-slide swiper-slide-one">
																<div class="swiper-image" data-swiper-parallax-y="-20%">
																	<div class="swiper-image-inner swiper-image-left swiper-image-one">
																		<h1>A <span class="emphasis">Breath</span>. <br><span>Of Fresh Air.</span></h1>
																		<p>Chapter I, page XV</p>
																	</div>
																</div>
																<div class="swiper-image" data-swiper-parallax-y="35%">
																	<div class="swiper-image-inner swiper-image-right swiper-image-two">
																		<p class="paragraph">
																			A Prophet sat in the market-place and told the fortunes of all who cared to engage his services. Suddenly there came running up one who told him that his house had been broken into by thieves, and that they had made off with everything they could lay
																			hands on.
																		</p>
																	</div>
																</div>
															</div>
															<div class="swiper-slide swiper-slide-two">
																<div class="swiper-image" data-swiper-parallax-y="-20%">
																	<div class="swiper-image-inner swiper-image-left swiper-image-three">
																		<h1>The <span class="emphasis">Drop</span>. <br><span>Of Eternal life.</span></h1>
																		<p>Chapter II, page VII</p>
																	</div>
																</div>
																<div class="swiper-image" data-swiper-parallax-y="35%">
																	<div class="swiper-image-inner swiper-image-right swiper-image-four">
																		<p class="paragraph">
																			A thirsty Crow found a Pitcher with some water in it, but so little was there that, try as she might, she could not reach it with her beak, and it seemed as though she would die of thirst within sight of the remedy.
																		</p>
																	</div>
																</div>
															</div>
															<div class="swiper-slide swiper-slide-three">
																<div class="swiper-image" data-swiper-parallax-y="-20%">
																	<div class="swiper-image-inner swiper-image-left swiper-image-five">
																		<h1>A <span class="emphasis">Sense</span>. <br><span>Of Things to Come.</span></h1>
																		<p>Chapter III, page XI</p>
																	</div>
																</div>
																<div class="swiper-image" data-swiper-parallax-y="35%">
																	<div class="swiper-image-inner swiper-image-right swiper-image-six">
																		<p class="paragraph">
																			Every man carries Two Bags about with him, one in front and one behind, and both are packed full of faults. The Bag in front contains his neighbours’ faults, the one behind his own. Hence it is that men do not see their own faults, but never fail to see
																			those of others.
																		</p>
																	</div>
																</div>
															</div>
											
														</div>
														<div class="swiper-pagination"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

				</div>
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
	<script>
	</script>
</body>

</html>