<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
  <script>include.meta()</script>
  <script>include.head()</script>
</head>

<body>
  <div id="g-wrapper">
    <script>include.header()</script>
    <div id="g-container">
      <script>include.aside.init()</script>

      <!-- Content -->
      <article id="g-content">
        <div class="g-content-header">
          <h1 class="g-h1">Badge</h1>
          <p class="g-explain-h1">Library Elements</p>
        </div>
        <div class="g-content-body">

          <!-- Section -->
          <section class="g-section g-in-sec">
            <div class="g-section-header">
              <h2 class="g-h2">Styles</h2>
            </div>
            <div class="g-section-body">
              <div class="g-example-wrap">
                <div class="g-example-header">
                  <strong class="g-example-tit is-before"></strong>
                </div>
                <div class="g-example-body">
                  <!-- 마크업뷰영역 -->
                  <span class="badge __basic"><span class="blind">NEW</span></span>
                  <span class="badge __circle">9</span>
                  <span class="badge __circle">999</span>
                  <span class="badge __circle">999999</span>
                  <!-- //마크업뷰영역 -->
                </div>
              </div>
            </div>
          </section>
          <!-- //Section -->
        </div>
      </article>
      <!-- //Content -->

      <script>include.quick.init()</script>
    </div>
    <script>include.footer()</script>
  </div>
</body>

</html>