<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
  <script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>

			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">마크업템플릿</h1>
					<p class="g-explain-h1">마크업뷰중심 + 일부컨텐츠 </p>
				</div>
				<div class="g-content-body">
					
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">GNB</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">Dropdown</h3>
							<div class="g-example-wrap">
								
								<div class="g-example-body">
									<div class="g-example-preview">
										<nav class="gnb gnb-dropdown">
											<ul class="node1-list">
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu1</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu11</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu12</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu13</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu14</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu15</a></li>
														</ul>
													</div>
												</li>
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu2</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu21</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu22</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu23</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu24</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu25</a></li>
														</ul>
													</div>
												</li>
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu3</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu31</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu32</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu33</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu34</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu35</a></li>
														</ul>
													</div>
												</li>
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu4</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu41</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu42</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu43</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu44</a></li>
															<li class="node2-item"><a href="#" class="node2-link">Nav Menu45</a></li>
														</ul>
													</div>
												</li>
											</ul>
										</nav>
										<script type="text/javascript">$(function () { ui.gnb_dropdown.set(0, 0) });</script>
									</div>
								</div>
							</div>

							<h3 class="g-h3">Fulldown</h3>
							<div class="g-example-wrap">
								<div class="g-example-header">
									<strong class="g-example-tit">Markup Codeview</strong>
								</div>
								<div class="g-example-body">
									<div class="g-example-preview">
										<nav class="gnb gnb-fulldown">
											<ul class="node1-list">
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu1</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu11</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu12</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu13</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu14</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu15</a>
															</li>
														</ul>
													</div>
												</li>
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu2</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu21</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu22</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu23</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu24</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu25</a>
															</li>
														</ul>
													</div>
												</li>
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu3</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu31</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu32</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu33</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu34</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu35</a>
															</li>
														</ul>
													</div>
												</li>
												<li class="node1-item">
													<a href="#" class="node1-link">Nav Menu4</a>
													<div class="node2-menu">
														<ul class="node2-list">
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu41</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu42</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu43</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu44</a>
															</li>
															<li class="node2-item">
																<a href="#" class="node2-link">Nav Menu45</a>
															</li>
														</ul>
													</div>
												</li>
											</ul>
											<div class="gnb-bg"></div>
										</nav>
										<script type="text/javascript">
											$(document).ready(function () { ui.gnb_fulldown.set(0) });
										</script>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->

					<!-- Section -->
					<section class="g-section g-in-sec" style="display:none">
						<div class="g-section-header">
							<h2 class="g-h2">General UI</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">Heading</h3>
						</div>
					</section>
					<!-- //Section -->
				</div>
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
</body>

</html>