<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Colors</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Primary color</h2>
					</div>
          <div class="g-section-body">
            <div class="cp-color">
              <ul>
								<li>
									<h1>
										Main_Blue 01 <br>
									</h1>
                  <span class="primary-color"></span>
								</li>
								<li>
									<h1>Main_Sky_Blue 02</h1>
                  <span class="skyblue-color"></span>
								</li>
							</ul>
            </div>
          </div>
				</section>
				<!-- //Section -->

				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Sub color</h2>
					</div>
          <div class="g-section-body">
            <div class="cp-color">
              <ul>
								<li>
									<h1>Sub_Red 01</h1>
                  <span class="sub-red-color"></span>
								</li>
							</ul>
            </div>
          </div>
				</section>
				<!-- //Section -->
			</div>
      <!-- //g-content-body -->
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>