<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>
			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Chartjs</h1>
					<p class="g-explain-h1"></p>
				</div>
				<div class="g-content-body">
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Bar Charts</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="bar-chart">
												<canvas id="barChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Line Charts</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="line-chart">
												<canvas id="lineChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Doughnut Charts</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="doughnut-chart">
												<canvas id="doughnutChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Doughnut Charts Half</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="doughnut-chart">
												<canvas id="doughnutChartHalf"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
				</div>
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
	<script>
		var ui = {
			init: function () {
				if ($('.chartjs-area').length) { this.chartJs.init(); } // ChartJs
			},
			chartJs: {
				init: function () {
					this.barChart();
					this.lineChart();
					//this.pieChart();
					this.doughnutChart();
					this.doughnutChartHalf();
				},
				
				barChart: function () {
					const ctx = document.getElementById('barChart').getContext('2d');
					const barChart = new Chart(ctx, {
						type: 'bar',
						data: {
							labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
							datasets: [{
								label: 'Bar 차트',
								data: [12, 19, 3, 5, 2, 3],
								backgroundColor: [
									'rgba(255, 99, 132, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(255, 206, 86, 0.2)',
									'rgba(75, 192, 192, 0.2)',
									'rgba(153, 102, 255, 0.2)',
									'rgba(255, 159, 64, 0.2)'
								],
								borderColor: [
									'rgba(255, 99, 132, 1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)',
									'rgba(255, 159, 64, 1)'
								],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: false
								}
							},
							/* responsive: false,
							maintainAspectRatio: false, */
						}
					});
				},

				lineChart: function () {
					const ctx = document.getElementById('lineChart').getContext('2d');
					const data = {
						labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
						datasets: [{
							label: 'Line 차트',
							data: [65, 59, 80, 81, 56, 55, 40],
							fill: false,
							borderColor: 'rgb(75, 192, 192)',
							tension: 0.1
						}]
					};
					const options = {
						scales: {
							y: {
								beginAtZero: false
							}
						},
						/* responsive: false,
						maintainAspectRatio: false, */
					};
					const lineChart = new Chart(ctx, {
						type: 'line',
						data: data,
						options: options
					});
				},

				doughnutChart: function () {
					const ctx = document.getElementById('doughnutChart').getContext('2d');
					const data = {
						labels: [
							'Red',
							'Blue',
							'Yellow'
						],
						datasets: [{
							label: '도너츠 차트',
							data: [300, 50, 100],
							backgroundColor: [
								'rgb(148, 220, 255)',
								'rgb(247, 93, 95)',
								'rgb(11, 112, 244)'
							],
							hoverOffset: 4
						}]
					};
					const options = {
						/* responsive: false,
						maintainAspectRatio: false, */

						Plugins: {
							tooltip: {
								enabled: false
							},
							datalabels: {
								formatter: function (value, context) {
									var idx = context.dataIndex;
									return context.chart.data.labels[idx] + value + '%';
								},
								align: 'top',
								font: {
									weight: 'bold',
									size: '15',
								},
								color: 'red',
							},
						}
					};
					const doughnutChart = new Chart(ctx, {
						plugins: [ChartDataLabels],
						options: options,
						type: 'doughnut',
						data: data,
					});
				},

				doughnutChartHalf: function () {
					const ctx = document.getElementById('doughnutChartHalf').getContext('2d');
					const data = {
						labels: [
							'Red',
							'Blue',
							'Yellow'
						],
						datasets: [{
							label: '도너츠 차트',
							data: [300, 50, 100],
							backgroundColor: [
								'rgb(148, 220, 255)',
								'rgb(247, 93, 95)',
								'rgb(11, 112, 244)'
							],
							hoverOffset: 4
						}]
					};
					const options = {
						/* responsive: false,
						maintainAspectRatio: false, */
						rotation: -90,
						circumference: 180,
						cutout: '50%',
						Plugins: {
							tooltip: {
								enabled: false
							},
							datalabels: {
								formatter: function (value, context) {
									var idx = context.dataIndex;
									return context.chart.data.labels[idx] + value + '%';
								},
								align: 'top',
								font: {
									weight: 'bold',
									size: '15',
								},
								color: 'red',
							},
						}
					};
					const doughnutChartHalf = new Chart(ctx, {
						plugins: [ChartDataLabels],
						options: options,
						type: 'doughnut',
						data: data,
					});
				},
			},
			// chartJs
		}
	</script>
</body>

</html>