<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>
			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Chartjs</h1>
					<p class="g-explain-h1"></p>
				</div>
				<div class="g-content-body">
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Bar Charts</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="bar-chart">
												<canvas id="barChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Line Charts</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="line-chart">
												<canvas id="lineChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Doughnut Charts</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="doughnut-chart">
												<canvas id="doughnutChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Doughnut Charts Half</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<div class="chartjs-area">
											<div class="doughnut-chart">
												<canvas id="doughnutChartHalf"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
				</div>
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
	<script>
	
	</script>
</body>

</html>