
<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../_common/js/rule_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div class="g-wrapper" class="g-convention-wrap">
	<script>include.header()</script>
	<div class="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article class="g-content" class="">
			<div class="g-content-header">
				<h1 class="g-h1">퍼블리싱규칙</h1>
				<small class="g-explain-h1">Publishing Conventions</small>
			</div>
			<div class="g-content-body">
					<!-- section2 -->
				<section id="" class="g-section">
					<div class="g-section-header">
						<h2 class="g-h2">네임규칙</h2>
					</div>
					<div class="g-section-body">

						<h3 class="g-h3">Class Selector</h3>
						<div class="g-tbl __basic">
							<table>
								<caption>예약어</caption>
								<colgroup><col span="2" style="width:25%;"/><col /></colgroup>
								<thead>
									<tr>
										<th>구분</th>
										<th>예약어</th>
										<th>설명</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="9">레이아웃</td>
										<td>.wrapper</td>
										<td>전체 영역</td>
									</tr>
									<tr>
										<td>.skipnav</td>
										<td>바로가기 영역</td>
									</tr>
									<tr>
										<td>.header</td>
										<td>머리글 영역</td>
									</tr>
									<tr>
										<td>.container</td>
										<td>페이지 영역</td>
									</tr>
									<tr>
										<td>.aside</td>
										<td>사이드 영역</td>
									</tr>
									<tr>
										<td>.content</td>
										<td>본문 영역</td>
									</tr>
									<tr>
										<td>.content-header</td>
										<td>본문 헤더 영역</td>
									</tr>
									<tr>
										<td>.content-body</td>
										<td>본문 내용 영역</td>
									</tr>
									<tr>
										<td>.footer</td>
										<td>바닥글 영역</td>
									</tr>
								</tbody>
							</table>
						</div>

						<h3 class="g-h3">이미지 네이밍 규칙</h3>
						<div class="g-tbl __basic">
							<table>
								<caption>이미지 예약어</caption>
								<colgroup><col span="2" style="width:25%;"/><col /></colgroup>
								<thead>
									<tr>
										<th>분류</th>
										<th>파일명</th>
										<th>설명</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>아이콘</td>
										<td>ico_</td>
										<td>아이콘</td>
									</tr>
									<tr>
										<td>버튼</td>
										<td>btn_</td>
										<td>버튼전용 아이콘</td>
									</tr>
									<tr>
										<td>배경</td>
										<td>bg_</td>
										<td>배경 이미지</td>
									</tr>
									<tr>
										<td>비주얼</td>
										<td>visual_</td>
										<td>비주얼 이미지</td>
									</tr>
									<tr>
										<td>일반</td>
										<td>img_</td>
										<td>일반 이미지</td>
									</tr>
									<tr>
										<td>임시</td>
										<td>@</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!-- //section2 -->
			</div>
		</article>
		<!-- //Content -->
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>